.tooltipdemoBasicUsage md-toolbar .md-toolbar-tools .md-button,
.tooltipdemoBasicUsage md-toolbar .md-toolbar-tools .md-button:hover {
  box-shadow: none;
  border: none;
  transform: none;
  -webkit-transform: none; }

.tooltipdemoBasicUsage .left {
  top: 70px !important;
  left: 56px !important; }

.tooltipdemoBasicUsage .right {
  top: 70px !important;
  right: 56px !important; }
