.tabsdemoStaticTabs md-content md-tabs {
  border: 1px solid #e1e1e1; }
  .tabsdemoStaticTabs md-content md-tabs md-tab-content {
    padding: 25px; }
    .tabsdemoStaticTabs md-content md-tabs md-tab-content:nth-child(1) {
      background-color: #cfd8dc; }
    .tabsdemoStaticTabs md-content md-tabs md-tab-content:nth-child(2) {
      background-color: #ffb74d; }
    .tabsdemoStaticTabs md-content md-tabs md-tab-content:nth-child(3) {
      background-color: #ffd54f; }
    .tabsdemoStaticTabs md-content md-tabs md-tab-content:nth-child(4) {
      background-color: #aed581; }
    .tabsdemoStaticTabs md-content md-tabs md-tab-content:nth-child(5) {
      background-color: #00897b; }

.tabsdemoStaticTabs .after-tabs-area > span {
  margin-top: 25px;
  padding-right: 15px;
  vertical-align: middle;
  line-height: 30px;
  height: 35px; }

.tabsdemoStaticTabs .after-tabs-area > md-checkbox {
  margin-top: 26px;
  margin-left: 0; }
