.selectdemoOptionsWithAsyncSearch p {
  padding: 0 20px;
  text-align: center; }
.selectdemoOptionsWithAsyncSearch p.md-caption {
  margin-top: -7px;
  color: #777; }
.selectdemoOptionsWithAsyncSearch .demo-content {
  min-height: 348px; }
