<div class="doc-content theming">
    
    <div class="layout_note">
  <span>This feature is for **mobile** devices only.</span>
</div>

<p><img src="https://cloud.githubusercontent.com/assets/6004537/18006666/50519c7e-6ba9-11e6-905b-c3751c20549c.png" alt="browser color"></p>
<p>This feature enables browser header theming using
<a href="https://material.io/archive/guidelines/style/color.html#">Material Design Colors</a>
and the AngularJS Material theming system. For API details, please visit the
<a ng-href="api/service/$mdThemingProvider#enableBrowserColor">$mdThemingProvider</a> documentation.</p>
<p>For more information about this feature of mobile browsers, please visit
<a href="https://developers.google.com/web/fundamentals/design-and-ux/browser-customization/#color_browser_elements">Web Fundamentals</a>.</p>
<p>Below are usage examples for both the AngularJS configuration phase and during runtime.</p>
<h3 id="config-phase">Config Phase</h3>
<hljs lang="js">
  myAppModule
    .config(function($mdThemingProvider) {
      // Enable browser color
      $mdThemingProvider.enableBrowserColor({
        theme: 'myTheme', // Default is 'default'
        palette: 'accent', // Default is 'primary', any basic material palette and extended palettes are available
        hue: '200' // Default is '800'
      });
    });
</hljs>

<h3 id="runtime">Runtime</h3>
<hljs lang="js">
  myAppModule
    .controller('myCtrl', function($scope, $mdTheming) {
      var removeFunction = $mdTheming.setBrowserColor({
        theme: 'myTheme', // Default is 'default'
        palette: 'accent', // Default is 'primary', any basic material palette and extended palettes are available
        hue: '200' // Default is '800'
      });

<pre><code>  $scope.$on(&#39;$destroy&#39;, function () {
    removeFunction(); // COMPLETELY removes the browser color
  })
})</code></pre>
</hljs>
    
</div>
