.checkboxdemoSelectAll legend {
  color: #3F51B5; }

.checkboxdemoSelectAll fieldset {
  border-style: solid;
  border-width: 1px; }

.checkboxdemoSelectAll .demo-select-all-checkboxes {
  padding-left: 30px; }
