.radioButtondemoBasicUsage body {
  padding: 20px; }

.radioButtondemoBasicUsage hr {
  margin-left: -20px;
  opacity: 0.3; }

.radioButtondemoBasicUsage md-radio-group {
  width: 150px; }

.radioButtondemoBasicUsage p:last-child {
  padding-bottom: 50px; }

.radioButtondemoBasicUsage [ng-controller] {
  padding-left: 20px; }

.radioButtondemoBasicUsage .radioValue {
  margin-left: 5px;
  color: #0f9d58;
  font-weight: bold;
  padding: 5px; }

.radioButtondemoBasicUsage md-icon {
  margin: 20px;
  margin-top: 0;
  width: 128px;
  height: 128px; }

.radioButtondemoBasicUsage .ipsum {
  color: saddlebrown;
  font-size: 0.9em; }
