.checkboxdemoLabels fieldset.standard {
  border: 1px solid;
}
.checkboxdemoLabels legend {
  color: #3F51B5;
}
.checkboxdemoLabels label {
  cursor: pointer;
  margin-right: 10px;
  user-select: none;
  height: 16px;
}