.fabSpeedDialdemoMoreOptions .lock-size {
  min-width: 300px;
  min-height: 300px;
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto; }
.fabSpeedDialdemoMoreOptions .md-fab.demo-fab.trigger-fab:hover, .fabSpeedDialdemoMoreOptions .md-fab.demo-fab.trigger-fab.md-focused, .fabSpeedDialdemoMoreOptions .md-fab.demo-fab.action-fab:hover, .fabSpeedDialdemoMoreOptions .md-fab.demo-fab.action-fab.md-focused {
  background-color: #333; }
.fabSpeedDialdemoMoreOptions .md-fab.demo-fab.action-fab {
  background-color: #aaa; }
.fabSpeedDialdemoMoreOptions md-content div[flex="50"] {
  padding: 15px; }
