<div class="doc-content theming">
    
    <h2 class="md-display-1">CSS classes are provided for typography</h2>
<h3 class="md-headline">You can use them to create visual consistency across your application.</h3>
<p class="md-subhead">You can find additional guidance in the 
[Material Design Typography Specification](https://material.io/archive/guidelines/style/typography.html).
</p>

<section class="demo-container">
  <md-toolbar class="demo-toolbar">
    <div class="md-toolbar-tools">
      <h3>General Typography</h3>
    </div>
  </md-toolbar>
  <div class="md-whiteframe-z1 docs-list">
    <p>
      AngularJS Material uses the [Roboto](https://fonts.google.com/specimen/Roboto)
      font for all of its components.
    </p>

<pre><code>&lt;p&gt;
  The `Roboto` font will be &lt;b&gt;not&lt;/b&gt; automatically loaded by AngularJS Material itself. The
  developer is responsible for loading all fonts used in their application. Shown below is a
  sample &lt;i&gt;link&lt;/i&gt; markup used to load the `Roboto` font from a CDN.
&lt;/p&gt;

&lt;hljs lang=&quot;html&quot;&gt;
  &lt;link rel=&quot;stylesheet&quot; href=&quot;https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic&quot;&gt;
&lt;/hljs&gt;

&lt;h4 class=&quot;md-title&quot;&gt;Notes&lt;/h4&gt;
&lt;p&gt;
  When `Roboto` isn&#39;t loaded, the typography will fall back to the following fonts: 
&lt;/p&gt;

&lt;ul&gt;
  &lt;li&gt;- `Helvetica Neue`&lt;/li&gt;
  &lt;li&gt;- `sans-serif`&lt;/li&gt;
&lt;/ul&gt;</code></pre>
  </div>
</section>

<section class="demo-container">
  <md-toolbar class="demo-toolbar">
    <div class="md-toolbar-tools">
      <h3>Heading Styles</h3>
    </div>
  </md-toolbar>
  <div class="md-whiteframe-z1 docs-list">
    <p style="margin-top: 0;">
      To preserve <a href="http://webaim.org/techniques/semanticstructure/">semantic structures</a>, 
      you should style the `<h1>` - `<h6>` heading tags with the styling classes shown below:
    </p>

<pre><code>&lt;div layout=&quot;row&quot; class=&quot;docs-descriptions&quot;&gt;
  &lt;h4 class=&quot;md-body-1&quot; flex=&quot;25&quot; id=&quot;headings-selectors&quot;&gt;Selectors&lt;/h4&gt;
  &lt;h4 class=&quot;md-body-1&quot; id=&quot;headings-output&quot;&gt;Output&lt;/h4&gt;
&lt;/div&gt;
&lt;md-divider&gt;&lt;/md-divider&gt;
&lt;ul&gt;
  &lt;li layout=&quot;row&quot; layout-sm=&quot;column&quot; layout-xs=&quot;column&quot; layout-align=&quot;start center&quot;&gt;
    &lt;span flex=&quot;25&quot; class=&quot;docs-definition&quot; aria-describedby=&quot;headings-selectors&quot;&gt;
      &lt;code&gt;.md-display-4&lt;/code&gt;
    &lt;/span&gt;
    &lt;h5 flex aria-describedby=&quot;headings-output&quot; class=&quot;md-display-4 docs-output&quot;&gt;Light 112px&lt;/h5&gt;
  &lt;/li&gt;
  &lt;li layout=&quot;row&quot; layout-align=&quot;start center&quot;&gt;
    &lt;span flex=&quot;25&quot; class=&quot;docs-definition&quot; aria-describedby=&quot;headings-selectors&quot;&gt;
      &lt;code&gt;.md-display-3&lt;/code&gt;
    &lt;/span&gt;
    &lt;h5 aria-describedby=&quot;headings-output&quot; class=&quot;md-display-3 docs-output&quot;&gt;Regular 56px&lt;/h5&gt;
  &lt;/li&gt;
  &lt;li layout=&quot;row&quot; layout-align=&quot;start center&quot;&gt;
    &lt;span flex=&quot;25&quot; class=&quot;docs-definition&quot; aria-describedby=&quot;headings-selectors&quot;&gt;
      &lt;code&gt;.md-display-2&lt;/code&gt;
    &lt;/span&gt;
    &lt;h5 aria-describedby=&quot;headings-output&quot; class=&quot;md-display-2 docs-output&quot;&gt;Regular 45px&lt;/h5&gt;
  &lt;/li&gt;
  &lt;li layout=&quot;row&quot; layout-align=&quot;start center&quot;&gt;
    &lt;span flex=&quot;25&quot; class=&quot;docs-definition&quot; aria-describedby=&quot;headings-selectors&quot;&gt;
      &lt;code&gt;.md-display-1&lt;/code&gt;
    &lt;/span&gt;
    &lt;h5 aria-describedby=&quot;headings-output&quot; class=&quot;md-display-1 docs-output&quot;&gt;Regular 34px&lt;/h5&gt;
  &lt;/li&gt;
  &lt;li layout=&quot;row&quot; layout-align=&quot;start center&quot;&gt;
    &lt;span flex=&quot;25&quot; class=&quot;docs-definition&quot; aria-describedby=&quot;headings-selectors&quot;&gt;
      &lt;code&gt;.md-headline&lt;/code&gt;
    &lt;/span&gt;
    &lt;h5 aria-describedby=&quot;headings-output&quot; class=&quot;md-headline docs-output&quot;&gt;Regular 24px&lt;/h5&gt;
  &lt;/li&gt;
  &lt;li layout=&quot;row&quot; layout-align=&quot;start center&quot;&gt;
    &lt;span flex=&quot;25&quot; class=&quot;docs-definition&quot; aria-describedby=&quot;headings-selectors&quot;&gt;
      &lt;code&gt;.md-title&lt;/code&gt;
    &lt;/span&gt;
    &lt;h5 aria-describedby=&quot;headings-output&quot; class=&quot;md-title docs-output&quot;&gt;Medium 20px&lt;/h5&gt;
  &lt;/li&gt;
  &lt;li layout=&quot;row&quot; layout-align=&quot;start center&quot;&gt;
    &lt;span flex=&quot;25&quot; class=&quot;docs-definition&quot; aria-describedby=&quot;headings-selectors&quot;&gt;
      &lt;code&gt;.md-subhead&lt;/code&gt;
    &lt;/span&gt;
    &lt;h5 aria-describedby=&quot;headings-output&quot; class=&quot;md-subhead docs-output&quot;&gt;Regular 16px&lt;/h5&gt;
  &lt;/li&gt;
&lt;/ul&gt;
&lt;h4 class=&quot;md-title&quot;&gt;Example&lt;/h4&gt;
&lt;hljs lang=&quot;html&quot;&gt;
  &lt;h1 class=&quot;md-display-3&quot;&gt;Headline&lt;/h1&gt;
  &lt;h2 class=&quot;md-display-1&quot;&gt;Headline&lt;/h2&gt;
  &lt;h3 class=&quot;md-headline&quot;&gt;Headline&lt;/h3&gt;
&lt;/hljs&gt;

  &lt;br/&gt;</code></pre>
  <span class="md-body-1">
      Note: Base font size is `10px` for easy rem units (1.2rem = 12px). Body font size is `14px`. sp = scalable pixels.
    </span>

  </div>

</section>

<section class="demo-container">
  <md-toolbar class="demo-toolbar">
    <div class="md-toolbar-tools">
      <h3>Body Copy</h3>
    </div>
  </md-toolbar>
  <div class="md-whiteframe-z1 docs-list">
    <div layout="row" class="docs-descriptions">
      <h4 class="md-body-1" flex="25" id="body-selectors">Selectors</h4>
      <h4 class="md-body-1" id="body-output">Output</h4>
    </div>
    <md-divider></md-divider>
    <ul>
      <li layout="row" layout-align="start center">
        <span flex="25" class="docs-definition" aria-describedby="body-selectors">
          <code>.md-body-1</code><br>
        </span>
        <p class="docs-output md-body-1" aria-describedby="body-output">Regular 14px</p>
      </li>
      <li layout="row" layout-align="start center">
        <span flex="25" class="docs-definition" aria-describedby="body-selectors"><code>
          .md-body-2</code>
        </span>
        <p class="md-body-2 docs-output" aria-describedby="body-output">Medium 14px</p>
      </li>
      <li layout="row" layout-align="start center">
        <span flex="25" class="docs-definition" aria-describedby="body-selectors">
          <code>.md-button</code>
        </span>
        <div class="docs-output" aria-describedby="body-output">
              <md-button class="md-raised" style="margin-left:0; margin-right:0;">Medium 14px</md-button>
        </div>
      </li>
      <li layout="row" layout-align="start center">
        <span flex="25" class="docs-definition" aria-describedby="body-selectors">
          <code>.md-caption</code><br>
        </span>
        <div class="docs-output" aria-describedby="body-output">
          <small class="md-caption">Regular 12px</small>
        </div>
      </li>
    </ul>
    <h4 class="md-title">Examples</h4>
    <hljs lang="html">
      <p class="md-body-2">Body copy with medium weight.</p>
      <md-button>Button</md-button>
      <p class="md-body-1">Regular body copy <small class="md-caption">with small text</small>.</p>
      <span class="md-caption">Caption</span>
    </hljs>
  </div>
</section>
    
</div>
