<div class="doc-content theming">
    
    <p>Material Design is a visual language with specifications for innovative user experiences (UX) and user interface (UI) elements. Themes convey meaning through color, tones, and contrasts, similar to how Layouts convey meaning through keylines and alignments.</p>
<p>Theme <a href="http://www.google.com/design/spec/style/color.html#color-ui-color-palette"><strong>color palettes</strong></a>, alphas, and shadows deliver a consistent tone to your application and a unified feel for all Angular Material UI components.</p>
<p>Theming allows changing the color of your Angular Material application. If you
need more custom styling (such as layout changes including padding, margins,
etc) you will need to either write CSS rules with custom selectors, or build a
custom version of the <code>angular-material.css</code> file using SASS and custom
variables.</p>
<p><img src="https://cloud.githubusercontent.com/assets/210413/4816236/bf7783dc-5edd-11e4-88ef-1f8b6e87e1d7.png" alt="color palette" style="max-width: 100%;"></p>
<h2 id="theming-approach">Theming Approach</h2>
<p>Angular Material makes it easy to design an app which follows the Material style
guide&#39;s suggested design patterns:</p>
<blockquote>
<p>Limit your selection of colors by choosing three color hues from the primary palette and one accent color 
from the secondary palette. The accent color may or may not need fallback options.</p>
</blockquote>
<p>This concept is central to how Angular Material approaches theming.</p>
<h2 id="important-terms">Important Terms</h2>
<h3 id="hues-shades">Hues / Shades</h3>
<p>A hue/shade is a single color within a palette.</p>
<h3 id="palettes">Palettes</h3>
<p>A palette is a collection of hues. By default, Angular Material ships with all
palettes from the material design spec built in. Valid palettes include:</p>
<ul>
<li>red</li>
<li>pink</li>
<li>purple</li>
<li>deep-purple</li>
<li>indigo</li>
<li>blue</li>
<li>light-blue</li>
<li>cyan</li>
<li>teal</li>
<li>green</li>
<li>light-green</li>
<li>lime</li>
<li>yellow</li>
<li>amber</li>
<li>orange</li>
<li>deep-orange</li>
<li>brown</li>
<li>grey</li>
<li>blue-grey</li>
</ul>
<h3 id="color-intentions">Color Intentions</h3>
<p>A color intention is a mapping of a palette for a given intention within your
application. </p>
<p>Valid color intentions in Angular Material include:</p>
<ul>
<li><em>primary</em> - used to represent primary interface elements for a user</li>
<li><em>accent</em> - used to represent secondary interface elements for a user</li>
<li><em>warn</em> - used to represent interface elements that the user should be careful of</li>
</ul>
<h3 id="themes">Themes</h3>
<p>A theme is a configuration of palettes used for specific color intentions. A
theme also specifies a background color palette to be used for the application.</p>

    
</div>
