.icondemoSvgIconSets md-progress-circular {
  margin-bottom: 20px; }

.icondemoSvgIconSets md-icon {
  margin: 20px;
  margin-top: 0;
  width: 24px;
  height: 24px; }

.icondemoSvgIconSets .demo-content {
  min-height: 210px; }

.icondemoSvgIconSets .appSvgIconSets {
  padding: 25px; }

.icondemoSvgIconSets .s48 {
  width: 48px;
  height: 48px; }
