.progressLineardemoBasicUsage body {
  padding: 20px; }
.progressLineardemoBasicUsage h4 {
  margin: 10px 0; }
.progressLineardemoBasicUsage md-progress-linear {
  padding-top: 10px;
  margin-bottom: 20px; }
