.dialogdemoBasicUsage .dialogDemo1 {
  height: 500px; }
.dialogdemoBasicUsage .dialog-demo-content div {
  text-align: center; }
.dialogdemoBasicUsage .md-subheader {
  background-color: #dcedc8;
  margin: 0; }
