.listdemoListControls md-divider {
  margin-top: 0;
  margin-bottom: 0; }

.listdemoListControls md-list {
  padding-top: 0; }

.listdemoListControls md-list-item > p,
.listdemoListControls md-list-item > ._md-list-item-inner > p,
.listdemoListControls md-list-item ._md-list-item-inner > p,
.listdemoListControls md-list-item ._md-list-item-inner > ._md-list-item-inner > p {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */ }
