.whiteframedemoDirectiveAttributeUsage {
  /* For breakpoint `-xs` */
  /* For breakpoint `-sm` */
  /* For breakpoint `-md` */
  /* For breakpoint `-gt-md` */ }
  .whiteframedemoDirectiveAttributeUsage md-whiteframe, .whiteframedemoDirectiveAttributeUsage div.padded {
    background: #fff;
    margin: 30px;
    height: 100px; }
  @media screen and (max-width: 599px) {
    .whiteframedemoDirectiveAttributeUsage md-whiteframe, .whiteframedemoDirectiveAttributeUsage div.padded {
      margin: 7px;
      height: 50px;
      background-color: #c8e4fa; }
    .whiteframedemoDirectiveAttributeUsage md-whiteframe > span, .whiteframedemoDirectiveAttributeUsage div.padded > span {
      font-size: 0.4em; } }
  @media screen and (min-width: 600px) and (max-width: 959px) {
    .whiteframedemoDirectiveAttributeUsage md-whiteframe, .whiteframedemoDirectiveAttributeUsage div.padded {
      margin: 20px;
      height: 75px; }
    .whiteframedemoDirectiveAttributeUsage md-whiteframe > span, .whiteframedemoDirectiveAttributeUsage div.padded > span {
      font-size: 0.6em; } }
  @media screen and (min-width: 960px) and (max-width: 1279px) {
    .whiteframedemoDirectiveAttributeUsage md-whiteframe, .whiteframedemoDirectiveAttributeUsage div.padded {
      margin: 20px;
      height: 90px;
      background-color: #fcddde; }
    .whiteframedemoDirectiveAttributeUsage md-whiteframe > span, .whiteframedemoDirectiveAttributeUsage div.padded > span {
      font-size: 0.9em; } }
  @media screen and (min-width: 1280px) {
    .whiteframedemoDirectiveAttributeUsage md-whiteframe, .whiteframedemoDirectiveAttributeUsage div.padded {
      margin: 25px;
      height: 100px;
      background-color: #F2FCE2; }
    .whiteframedemoDirectiveAttributeUsage md-whiteframe > span, .whiteframedemoDirectiveAttributeUsage div.padded > span {
      font-size: 1.0em; } }
