.checkboxdemoBasicUsage div.flex-xs {
  min-height: 40px; }

.checkboxdemoBasicUsage .checkboxDemo1 div {
  clear: both; }

.checkboxdemoBasicUsage .checkboxDemo1 md-checkbox {
  float: left; }

.checkboxdemoBasicUsage p {
  padding-left: 8px; }

.checkboxdemoBasicUsage fieldset.standard {
  border-style: solid;
  border-width: 1px; }

.checkboxdemoBasicUsage legend {
  color: #3F51B5; }

.checkboxdemoBasicUsage legend code {
  color: #3F51B5;
  font-weight: normal; }

.checkboxdemoBasicUsage .ipsum {
  color: saddlebrown; }
