.checkboxdemoSyncing .checkboxDemo1 div {
  clear: both; }
.checkboxdemoSyncing .checkboxDemo1 md-checkbox {
  float: left; }
.checkboxdemoSyncing legend {
  color: #0000ba; }
.checkboxdemoSyncing p {
  padding-left: 8px; }
.checkboxdemoSyncing .info {
  padding-left: 13px; }
.checkboxdemoSyncing div.standard {
  padding: 8px;
  padding-left: 15px; }
.checkboxdemoSyncing fieldset.standard {
  margin-left: 10px; }
